*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f3f4f6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 100%;
  max-width: 480px;
  padding: 20px;
}